## Use pandas to process data using several basic operations

In [91]:
import numpy as np
import pandas as pd

### Update column names and Obtain the set of unique values of a particular column

In [130]:
# read input file
input_file = 'data/pandas_data_example.csv'
orders = pd.read_csv(input_file, encoding='utf-8-sig')

# update column name
newColumns = {'Departure': 'Departure_Time', 'Arrival': 'Arrival_Time'}
orders.rename(columns=newColumns, inplace=True)
print '\nColumns names: ', orders.columns

# print the set of unique values of a particular column
originSet = orders['Origin'].unique()
destinationSet = orders['Destination'].unique()
print '\nOrigin Set:', originSet
print '\nDestination Set:', destinationSet
print '\nExample rows of original data:\n', orders.iloc[0:4]

Columns names:  Index([u'Origin', u'Destination', u'Quantity', u'Departure_Time',
       u'Arrival_Time'],
      dtype='object')

Origin Set: [u'AA' u'BB' u'CC' u'DD']

Destination Set: [u'ABC' u'DEF' u'GHI' u'JKL' u'MNO' u'PQR' u'VWX' u'STU']

Example rows of original data:
  Origin Destination  Quantity Departure_Time   Arrival_Time
0     AA         ABC        24    1/3/17 4:00   1/5/17 23:24
1     AA         ABC        24    1/3/17 4:00   1/5/17 23:24
2     AA         ABC        24    1/3/17 4:00   1/5/17 23:24
3     AA         ABC        12    1/3/17 4:00  1/19/17 15:42

### Iterate through the DataFrame

In [135]:
for index, row in orders.iterrows():
    if row['Destination'] == 'GHI':
        print index, row['Origin'], row['Destination'], row['Quantity']

384 AA GHI 272
385 BB GHI 198
386 BB GHI 168
387 BB GHI 60
388 BB GHI 24
389 CC GHI 66
390 CC GHI 6
391 CC GHI 54
392 CC GHI 120
393 CC GHI 187
394 CC GHI 114
395 CC GHI 60
396 CC GHI 90
397 CC GHI 402
398 CC GHI 58
399 CC GHI 18

### Obtain the origins with the largest quantities

In [128]:
ordersByOrigin = orders.groupby(by=['Origin'])['Quantity'].sum().reset_index()
ordersByOrigin.sort_values(by=['Quantity'], ascending=False, inplace=True)
origins = ordersByOrigin.head(3)['Origin']
print origins.values

['CCCC' 'DDDD' 'BBBB']

### Apply function to a particular column

In [93]:
## apply function to a particular column
newOriginSet = ['AAAA', 'BBBB', 'CCCC', 'DDDD']
originMap = {x : y for (x, y) in zip(originSet, newOriginSet)} # dict(zip(originSet, newOriginSet))
orders['Origin'] = orders['Origin'].apply(lambda x: originMap[x] if x in originMap else x)
print '\nData after updating column names:\n', orders.iloc[0:4]

Data after updating column names:
  Origin Destination  Quantity Departure_Time   Arrival_Time
0   AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24
1   AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24
2   AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24
3   AAAA         ABC        12    1/3/17 4:00  1/19/17 15:42

### Filter data under some criteria

In [94]:
## filter data
destionationSet = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQR', 'STU']
orders = orders.loc[orders['Destination'].isin(destinationSet)]
orders = orders.loc[orders['Quantity']>=5]

print '\nData after filtering:\n', orders.iloc[0:4]

Data after filtering:
  Origin Destination  Quantity Departure_Time   Arrival_Time
0   AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24
1   AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24
2   AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24
3   AAAA         ABC        12    1/3/17 4:00  1/19/17 15:42

### Operate on Datatimelike columns

In [95]:
## operate on Datatimelike columns
departureTime = pd.to_datetime(orders['Departure_Time'], errors='coerce')
arrivalTime = pd.to_datetime(orders['Arrival_Time'], errors='coerce')
travelTime = (arrivalTime - departureTime).astype('timedelta64[s]')/(3600.0*24.0)
print '\nDeparture time series:\n', departureTime[0:4]

Departure time series:
0   2017-01-03 04:00:00
1   2017-01-03 04:00:00
2   2017-01-03 04:00:00
3   2017-01-03 04:00:00
Name: Departure_Time, dtype: datetime64[ns]

### Add columns to the DataFrame

In [96]:
## add columns to the DataFrame
orders.loc[:, 'Travel_Time'] = travelTime
orders.loc[:, 'Departure_Date'] = departureTime.dt.date # just keep the date part
orders.loc[:, 'Departure_Week'] = departureTime.dt.week # the week of year, index starting from 1
orders.loc[:, 'Departure_DayOfWeek'] = departureTime.dt.dayofweek # the day of week, e.g., 0-Mon, 4-Thu
orders.loc[:, 'Arrival_Date'] = arrivalTime.dt.date
orders.loc[:, 'Arrival_Week'] = arrivalTime.dt.week
orders.loc[:, 'Arrival_DayOfWeek'] = arrivalTime.dt.dayofweek
dayOfWeek = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
orders['Departure_DayOfWeek'] = orders['Departure_DayOfWeek'].apply(lambda x : dayOfWeek[x])
orders['Arrival_DayOfWeek'] = orders['Arrival_DayOfWeek'].apply(lambda x : dayOfWeek[x])

print '\nData after adding columns:\n', orders.iloc[0:4]

Data after adding columns:
  Origin Destination  Quantity Departure_Time   Arrival_Time  Travel_Time  \
0   AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24     2.808333
1   AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24     2.808333
2   AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24     2.808333
3   AAAA         ABC        12    1/3/17 4:00  1/19/17 15:42    16.487500

  Departure_Date  Departure_Week Departure_DayOfWeek Arrival_Date  \
0     2017-01-03               1                 Tue   2017-01-05
1     2017-01-03               1                 Tue   2017-01-05
2     2017-01-03               1                 Tue   2017-01-05
3     2017-01-03               1                 Tue   2017-01-19

   Arrival_Week Arrival_DayOfWeek
0             1               Thu
1             1               Thu
2             1               Thu
3             3               Thu

### Sort w.r.t. columns, (1) default order; (2) customized order

In [103]:
## sort w.r.t. columns in default order: numeric/time/alphabetical
orders.sort_values(by=['Origin', 'Destination', 'Departure_Time'], inplace=True)
print '\nData after sorting:\n', orders[['Origin','Destination','Quantity','Departure_Time','Arrival_Time']]

## sort w.r.t. columns in customized order:
dayOfWeek = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
sortedOrders = orders.groupby(by=['Origin','Destination','Departure_DayOfWeek'])['Quantity'].sum().reset_index()
# order by Departure_DayOfWeek
sortedOrders['Departure_DayOfWeek'] = sortedOrders['Departure_DayOfWeek'].astype('category')
sortedOrders['Departure_DayOfWeek'].cat.set_categories(dayOfWeek, inplace=True)
sortedOrders.sort_values(by=['Origin','Destination','Departure_DayOfWeek'], ascending=[True, True, True], inplace=True)
print '\nData after sorting:\n', sortedOrders

Data after sorting:
    Origin Destination  Quantity Departure_Time   Arrival_Time
9     AAAA         ABC        54   1/10/17 4:00  1/12/17 20:09
10    AAAA         ABC        12   1/10/17 4:00  1/26/17 20:10
11    AAAA         ABC        18   1/10/17 4:00  1/12/17 20:09
12    AAAA         ABC        50   1/16/17 4:00  1/26/17 20:10
13    AAAA         ABC        84   1/17/17 4:00  1/19/17 15:42
14    AAAA         ABC        24   1/17/17 4:00  1/19/17 15:42
15    AAAA         ABC        24   1/17/17 4:00  1/26/17 20:10
16    AAAA         ABC        24   1/17/17 4:00  1/19/17 15:42
17    AAAA         ABC        32   1/18/17 4:00  1/26/17 20:10
18    AAAA         ABC       168   1/23/17 4:00  1/26/17 20:10
19    AAAA         ABC         6   1/24/17 4:00  1/26/17 20:10
20    AAAA         ABC       188   1/24/17 4:00  1/26/17 20:10
21    AAAA         ABC       647   1/24/17 4:00  1/26/17 20:10
22    AAAA         ABC         6   1/25/17 3:10    2/4/17 7:57
23    AAAA         ABC        16   1/25/17 4:00   2/9/17 20:01
24    AAAA         ABC        24   1/25/17 4:00   2/2/17 20:04
25    AAAA         ABC        24   1/26/17 4:00   2/2/17 20:04
0     AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24
1     AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24
2     AAAA         ABC        24    1/3/17 4:00   1/5/17 23:24
3     AAAA         ABC        12    1/3/17 4:00  1/19/17 15:42
4     AAAA         ABC        96    1/3/17 4:00  1/12/17 20:09
5     AAAA         ABC        12    1/3/17 4:00   1/5/17 23:24
6     AAAA         ABC        48    1/3/17 4:00  1/20/17 20:10
26    AAAA         ABC        24   1/30/17 4:00   2/2/17 20:04
7     AAAA         ABC       144    1/4/17 4:00  1/12/17 20:09
8     AAAA         ABC        36    1/9/17 4:00  1/12/17 20:09
31    AAAA         ABC        24   2/13/17 4:00  2/16/17 19:55
32    AAAA         ABC        36   2/13/17 4:00  2/16/17 19:55
33    AAAA         ABC        24   2/13/17 4:00  2/16/17 19:55
..     ...         ...       ...            ...            ...
824   DDDD         STU       180  1/30/17 11:52  3/13/17 19:22
825   DDDD         STU        30  1/30/17 11:53   2/18/17 8:00
826   DDDD         STU        60  1/30/17 11:55   2/9/17 19:28
820   DDDD         STU       120   1/30/17 4:00    2/7/17 9:54
827   DDDD         STU       180   2/13/17 4:00  2/17/17 19:26
828   DDDD         STU        82   2/20/17 4:00  2/27/17 19:50
767   DDDD         VWX        16   1/12/17 4:00  1/18/17 11:34
768   DDDD         VWX        18   1/16/17 4:00  1/20/17 20:01
769   DDDD         VWX        10   1/16/17 4:00  1/20/17 12:39
770   DDDD         VWX       294   1/16/17 4:00  1/20/17 20:01
771   DDDD         VWX        48   1/19/17 4:00  1/25/17 12:12
772   DDDD         VWX       419   1/23/17 4:00  1/27/17 12:45
773   DDDD         VWX        12   1/23/17 4:00  1/27/17 12:45
776   DDDD         VWX        48  1/26/17 16:48   2/1/17 12:37
774   DDDD         VWX        40   1/26/17 4:00   2/1/17 12:37
775   DDDD         VWX        12   1/26/17 4:00   2/1/17 12:37
778   DDDD         VWX       129  1/30/17 10:45   2/3/17 12:49
777   DDDD         VWX       396   1/30/17 4:00   2/3/17 11:34
765   DDDD         VWX        40    1/5/17 4:00   1/11/17 8:37
766   DDDD         VWX       606    1/9/17 4:00  1/13/17 11:14
784   DDDD         VWX       186   2/13/17 4:00  2/16/17 22:28
785   DDDD         VWX       150   2/13/17 4:00  2/17/17 11:57
779   DDDD         VWX        80    2/2/17 4:00   2/8/17 11:10
786   DDDD         VWX        19   2/20/17 4:00  2/24/17 10:36
787   DDDD         VWX         5   2/20/17 4:00  2/24/17 10:36
788   DDDD         VWX       314   2/20/17 4:00  2/24/17 10:36
780   DDDD         VWX       300    2/6/17 4:00  2/10/17 12:16
781   DDDD         VWX        24   2/7/17 14:27  2/10/17 12:16
782   DDDD         VWX         6    2/9/17 4:00   2/15/17 8:43
783   DDDD         VWX        16    2/9/17 4:00   2/15/17 8:43

[829 rows x 5 columns]

Data after sorting:
   Origin Destination Departure_DayOfWeek  Quantity
0    AAAA         ABC                 Mon       374
2    AAAA         ABC                 Tue      2522
3    AAAA         ABC                 Wed       951
1    AAAA         ABC                 Thu        48
6    AAAA         DEF                 Tue         8
5    AAAA         DEF                 Thu        75
4    AAAA         DEF                 Fri        15
7    AAAA         GHI                 Mon       272
8    AAAA         MNO                 Thu       105
9    AAAA         PQR                 Thu       221
10   AAAA         STU                 Mon       616
11   AAAA         VWX                 Mon      2634
13   AAAA         VWX                 Tue         9
12   AAAA         VWX                 Thu       139
15   BBBB         ABC                 Mon       899
17   BBBB         ABC                 Tue      5475
18   BBBB         ABC                 Wed      1596
16   BBBB         ABC                 Thu        54
14   BBBB         ABC                 Fri        60
21   BBBB         DEF                 Tue        28
20   BBBB         DEF                 Thu        75
19   BBBB         DEF                 Fri        33
22   BBBB         GHI                 Mon       450
23   BBBB         JKL                 Mon       650
25   BBBB         JKL                 Tue        60
26   BBBB         JKL                 Wed       412
24   BBBB         JKL                 Thu        16
27   BBBB         MNO                 Mon        80
28   BBBB         MNO                 Thu       150
29   BBBB         PQR                 Thu       716
..    ...         ...                 ...       ...
44   CCCC         JKL                 Thu        10
47   CCCC         MNO                 Mon       299
48   CCCC         MNO                 Thu      1521
49   CCCC         PQR                 Mon      1042
50   CCCC         PQR                 Thu      5159
51   CCCC         STU                 Mon       976
53   CCCC         VWX                 Mon      8975
55   CCCC         VWX                 Tue       273
54   CCCC         VWX                 Thu       801
52   CCCC         VWX                 Fri       147
56   DDDD         ABC                 Mon       348
58   DDDD         ABC                 Tue      5500
59   DDDD         ABC                 Wed      2248
57   DDDD         ABC                 Thu        64
61   DDDD         DEF                 Mon        30
63   DDDD         DEF                 Tue        44
64   DDDD         DEF                 Wed        28
62   DDDD         DEF                 Thu       350
60   DDDD         DEF                 Fri        30
65   DDDD         JKL                 Mon      1697
67   DDDD         JKL                 Tue       688
68   DDDD         JKL                 Wed      1144
66   DDDD         JKL                 Thu        36
69   DDDD         MNO                 Thu       132
70   DDDD         PQR                 Mon       229
71   DDDD         PQR                 Thu       611
72   DDDD         STU                 Mon      2339
73   DDDD         VWX                 Mon      2858
75   DDDD         VWX                 Tue        24
74   DDDD         VWX                 Thu       306

[76 rows x 4 columns]

### Groupby functions: (1) single groupby; (2) multiple groupby

In [98]:
# use of single groupby function
ordersByOriDesPair = orders.groupby(by=['Origin', 'Destination'])['Quantity'].sum().reset_index()
print '\nData after group by single function:\n', ordersByOriDesPair

# use of multiple groupby functions
groupByFuns = {'Quantity': ['sum'], 'Travel_Time': ['mean', 'std']}
ordersByMultiGroupby = orders.groupby(by=['Origin', 'Destination']).agg(groupByFuns).reset_index()
ordersByMultiGroupby.fillna(0.0, inplace=True)

# # drop the outermost level from the hierarchical column index
# ordersByMultiGroupby.columns = ordersByMultiGroupby.columns.droplevel(0)

# form multi-level column labels
newLabels = ['_'.join(col) for col in ordersByMultiGroupby.columns.ravel()]
ordersByMultiGroupby.columns = newLabels
print '\nData after group by multiple functions:\n', ordersByMultiGroupby

Data after group by single function:
   Origin Destination  Quantity
0    AAAA         ABC      3895
1    AAAA         DEF        98
2    AAAA         GHI       272
3    AAAA         MNO       105
4    AAAA         PQR       221
5    AAAA         STU       616
6    AAAA         VWX      2782
7    BBBB         ABC      8084
8    BBBB         DEF       136
9    BBBB         GHI       450
10   BBBB         JKL      1138
11   BBBB         MNO       230
12   BBBB         PQR       716
13   BBBB         STU      1068
14   BBBB         VWX      3015
15   CCCC         ABC     18908
16   CCCC         DEF        15
17   CCCC         GHI      1175
18   CCCC         JKL      1944
19   CCCC         MNO      1820
20   CCCC         PQR      6201
21   CCCC         STU       976
22   CCCC         VWX     10196
23   DDDD         ABC      8160
24   DDDD         DEF       482
25   DDDD         JKL      3565
26   DDDD         MNO       132
27   DDDD         PQR       840
28   DDDD         STU      2339
29   DDDD         VWX      3188

Data after group by multiple functions:
   Origin_ Destination_  Travel_Time_mean  Travel_Time_std  Quantity_sum
0     AAAA          ABC          7.096145         5.024851          3895
1     AAAA          DEF          7.435648         0.440080            98
2     AAAA          GHI          3.889583         0.000000           272
3     AAAA          MNO          5.472500         0.409199           105
4     AAAA          PQR          8.655382         2.096557           221
5     AAAA          STU         15.702431        12.512494           616
6     AAAA          VWX          6.184268         1.730074          2782
7     BBBB          ABC          7.132523         4.827578          8084
8     BBBB          DEF          6.164583         0.589064           136
9     BBBB          GHI          5.427083         2.294220           450
10    BBBB          JKL          7.615301         9.883118          1138
11    BBBB          MNO          5.267320         1.154012           230
12    BBBB          PQR          8.758929         2.144788           716
13    BBBB          STU         16.052708        13.875960          1068
14    BBBB          VWX          5.177593         1.263905          3015
15    CCCC          ABC          8.242965         5.486232         18908
16    CCCC          DEF          4.653472         0.000000            15
17    CCCC          GHI          2.574306         0.197022          1175
18    CCCC          JKL          6.785130         5.279259          1944
19    CCCC          MNO          5.059962         1.010411          1820
20    CCCC          PQR          9.035788         2.696098          6201
21    CCCC          STU         14.477604        11.737772           976
22    CCCC          VWX          7.203502         1.316206         10196
23    DDDD          ABC          6.576406         4.500383          8160
24    DDDD          DEF          7.957986         4.829613           482
25    DDDD          JKL          7.370335         8.747746          3565
26    DDDD          MNO          5.258750         0.283791           132
27    DDDD          PQR          8.905382         2.473040           840
28    DDDD          STU         15.882465        13.045690          2339
29    DDDD          VWX          4.974624         1.051541          3188

### Unstack function

In [122]:
## unstack function
dayOfWeek = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
ordersByOrigin = orders.groupby(by=['Origin', 'Departure_Week', 'Departure_DayOfWeek'])['Quantity'].sum().reset_index()

# order by Departure_DayOfWeek first
ordersByOrigin['Departure_DayOfWeek'] = ordersByOrigin['Departure_DayOfWeek'].astype('category')
ordersByOrigin['Departure_DayOfWeek'].cat.set_categories(dayOfWeek, inplace=True)

# unstack by Departure_DayOfWeek
unstackByDayofweek = ordersByOrigin.set_index(['Origin', 'Departure_Week', 'Departure_DayOfWeek'])
unstackByDayofweek = unstackByDayofweek.unstack('Departure_DayOfWeek')
unstackByDayofweek.fillna(0.0, inplace=True)
print '\nData unstacked by DayOfWeek:\n', unstackByDayofweek

# unstack by Departure_Week
unstackByWeek = ordersByOrigin.set_index(['Origin', 'Departure_DayOfWeek', 'Departure_Week'])
unstackByWeek = unstackByWeek.unstack('Departure_Week')
unstackByWeek.fillna(0.0, inplace=True)
print '\nData unstacked by Week:\n', unstackByWeek

Data unstacked by DayOfWeek:
                      Quantity
Departure_DayOfWeek        Mon     Tue    Wed     Thu    Fri
Origin Departure_Week
AAAA   1                   0.0   240.0  144.0   120.0    0.0
       2                 462.0    84.0    0.0    50.0    0.0
       3                 794.0   156.0   32.0    37.0    0.0
       4                 814.0   849.0   46.0    72.0    0.0
       5                 406.0     0.0    0.0   115.0    0.0
       6                 514.0   777.0  272.0   117.0    0.0
       7                 432.0   229.0  253.0    40.0    0.0
       8                 474.0   204.0  204.0    37.0   15.0
BBBB   1                   0.0   482.0  288.0   374.0    0.0
       2                 814.0   348.0   84.0   118.0    0.0
       3                1134.0   393.0  172.0   135.0   60.0
       4                1247.0   869.0  232.0   146.0   18.0
       5                1079.0     0.0   74.0   107.0    0.0
       6                 541.0  1653.0   60.0   124.0    0.0
       7                 641.0  1039.0  693.0   148.0    0.0
       8                 333.0   838.0  453.0   101.0   39.0
CCCC   1                   0.0  1231.0   84.0  3348.0   15.0
       2                2077.0  1155.0  108.0   370.0    0.0
       3                1003.0  2092.0  177.0   384.0    0.0
       4                1904.0  1552.0  497.0   781.0    0.0
       5                2918.0    69.0  120.0   623.0    0.0
       6                1690.0  3370.0  496.0   711.0    0.0
       7                2285.0  2485.0  923.0   915.0    0.0
       8                2793.0  3708.0  773.0   431.0  147.0
DDDD   1                   0.0   602.0  276.0   372.0    0.0
       2                1027.0   162.0   26.0    46.0    0.0
       3                 584.0   205.0  478.0    96.0    0.0
       4                1846.0   596.0  660.0   136.0    0.0
       5                1943.0     0.0  372.0   494.0    0.0
       6                 433.0  3350.0  286.0   153.0    0.0
       7                1110.0   893.0  551.0    66.0    0.0
       8                 558.0   448.0  771.0   136.0   30.0

Data unstacked by Week:
                           Quantity                                          \
Departure_Week                    1       2       3       4       5       6
Origin Departure_DayOfWeek
AAAA   Mon                      0.0   462.0   794.0   814.0   406.0   514.0
       Tue                    240.0    84.0   156.0   849.0     0.0   777.0
       Wed                    144.0     0.0    32.0    46.0     0.0   272.0
       Thu                    120.0    50.0    37.0    72.0   115.0   117.0
       Fri                      0.0     0.0     0.0     0.0     0.0     0.0
BBBB   Mon                      0.0   814.0  1134.0  1247.0  1079.0   541.0
       Tue                    482.0   348.0   393.0   869.0     0.0  1653.0
       Wed                    288.0    84.0   172.0   232.0    74.0    60.0
       Thu                    374.0   118.0   135.0   146.0   107.0   124.0
       Fri                      0.0     0.0    60.0    18.0     0.0     0.0
CCCC   Mon                      0.0  2077.0  1003.0  1904.0  2918.0  1690.0
       Tue                   1231.0  1155.0  2092.0  1552.0    69.0  3370.0
       Wed                     84.0   108.0   177.0   497.0   120.0   496.0
       Thu                   3348.0   370.0   384.0   781.0   623.0   711.0
       Fri                     15.0     0.0     0.0     0.0     0.0     0.0
DDDD   Mon                      0.0  1027.0   584.0  1846.0  1943.0   433.0
       Tue                    602.0   162.0   205.0   596.0     0.0  3350.0
       Wed                    276.0    26.0   478.0   660.0   372.0   286.0
       Thu                    372.0    46.0    96.0   136.0   494.0   153.0
       Fri                      0.0     0.0     0.0     0.0     0.0     0.0


Departure_Week                   7       8
Origin Departure_DayOfWeek
AAAA   Mon                   432.0   474.0
       Tue                   229.0   204.0
       Wed                   253.0   204.0
       Thu                    40.0    37.0
       Fri                     0.0    15.0
BBBB   Mon                   641.0   333.0
       Tue                  1039.0   838.0
       Wed                   693.0   453.0
       Thu                   148.0   101.0
       Fri                     0.0    39.0
CCCC   Mon                  2285.0  2793.0
       Tue                  2485.0  3708.0
       Wed                   923.0   773.0
       Thu                   915.0   431.0
       Fri                     0.0   147.0
DDDD   Mon                  1110.0   558.0
       Tue                   893.0   448.0
       Wed                   551.0   771.0
       Thu                    66.0   136.0
       Fri                     0.0    30.0